<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Share it!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:href="@{/}">Share it!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Główna</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Dodaj <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Konto
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/posts/my}" href="#">Moje wpisy</a>
                    <a class="dropdown-item" th:href="@{/users/password_change}" href="#">Zmień hasło</a>
                    <form action="/users/logout" th:action="@{/users/logout}" method="post" >
                        <input class="dropdown-item" type="submit" value="Wyloguj" />
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3 col-md-9">
    <form action="#" method="post" th:action="@{/posts/add}" th:object="${post}">
        <h3>Dodaj nowy wpis</h3>
        <div class="form-group">
            <input required th:field="*{link}" type="text" class="form-control" placeholder="Link">
            <div th:if="${#fields.hasErrors('link')}" class="text-danger" th:errors="*{link}">Link errors</div>
        </div>
        <div class="form-group">
            <input required th:field="*{title}" type="text" class="form-control" placeholder="Tytuł wpisu">
            <div th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}">Title errors</div>
        </div>
        <div class="form-group">
            <h6>Krótki opis</h6>
            <h10 class="text-muted">Max: 500 znaków</h10>
            <textarea required th:field="*{description}" class="form-control" rows="3"></textarea>
            <div th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}">Description errors</div>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj wpis!</button>
    </form>
</div>

</body>
</html>