<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Share it!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:href="@{/}">Share it!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/posts/add}">Dodaj</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Konto
                </a>
                <div sec:authorize="isAuthenticated()" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/posts/my}" href="#">Moje wpisy</a>
                    <form action="/users/logout" th:action="@{/users/logout}" method="post" >
                        <input class="dropdown-item" type="submit" value="Wyloguj" />
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3 col-md-5">
    <form action="#" method="post" th:action="@{/users/password_change}" th:object="${passwordChangeForm}">
        <h3>Zmiana hasła</h3>
        <div class="form-group">
            <input required th:field="*{oldPassword}" type="password" class="form-control" placeholder="Stare hasło">
            <div th:if="${#fields.hasErrors('oldPassword')}" class="text-danger" th:errors="*{oldPassword}">Old Password errors</div>
        </div>
        <div class="form-group">
            <input required th:field="*{password}" type="password" class="form-control" placeholder="Nowe hasło">
            <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}">Password errors</div>
        </div>
        <div class="form-group">
            <input required th:field="*{repeatedPassword}" type="password" class="form-control" placeholder="Powtórz nowe hasło">
            <div th:if="${#fields.hasErrors('repeatedPassword')}" class="text-danger" th:errors="*{repeatedPassword}">Password errors</div>
        </div>
        <button type="submit" class="btn btn-primary">Zmień</button>
    </form>
</div>

</body>
</html>