<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Share it!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:href="@{/}">Share it!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/posts/add}">Dodaj</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Konto
                </a>
                <div sec:authorize="isAuthenticated()" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/users/password_change}" href="#">Zmień hasło</a>
                    <form action="/users/logout" th:action="@{/users/logout}" method="post" >
                        <input class="dropdown-item" type="submit" value="Wyloguj" />
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<container class="d-flex justify-content-center" style="margin: 1rem">
    <div class="list-group list-group-sm" style="margin-right: 1rem">
        <a th:href="@{/posts/my/(page=${pageNumber}, sorting='date', order=${order})}" th:class="${sorting == 'date'} ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'">
            Sortuj według dat
        </a>
        <a th:href="@{/posts/my/(page=${pageNumber}, sorting='rating', order=${order})}" th:class="${sorting == 'rating'} ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'">
            Sortuj według ocen
        </a>
    </div>
    <div class="list-group list-group-sm">
        <a th:href="@{/posts/my/(page=${pageNumber}, sorting=${sorting}, order='asc')}" th:class="${order == 'asc'} ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'">
            Rosnąco
        </a>
        <a th:href="@{/posts/my/(page=${pageNumber}, sorting=${sorting}, order='desc')}" th:class="${order == 'desc'} ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'">
            Malejąco
        </a>
    </div>
</container>


<div th:fragment="post" th:id="'post' + ${post.id}" class="container mt-3 col-md-9" th:each="post, iterStat: ${userAllPosts}">
    <div class="card" style="margin-bottom: 1rem">
        <div class="card-body">
            <h4 class="card-title" th:text="${post.title}"/>
            <h6 class="small">Dodane przez: <label th:text="${post.user.username}"/>, Dnia: <label th:text="${#temporals.format(post.publishDate, 'dd-MM-yyyy HH:mm')}"/> </h6>
            <p class="card-text" th:text="${post.description}"></p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span>
                <a href="#" th:href="${post.link}" rel="noopener noreferrer" target="_blank" class="btn btn-primary">Otwórz link</a>
            </span>
            <span class="badge badge-secondary" th:text="${post.rating}"/>
        </div>
    </div>
</div>

<nav th:object="${pageNumber}">
    <ul class="pagination justify-content-center">
        <li th:class="${pageNumber == 0} ? 'disabled page-item' : 'page-item'">
            <a class="page-link" href="#" th:href="@{/posts/my/(page=0, sorting=${sorting}, order=${order})}" tabindex="-1"><<</a>
        </li>
        <li th:class="${pageNumber == 0} ? 'disabled page-item' : 'page-item'">
            <a class="page-link" href="#" th:href="@{/posts/my/(page=${pageNumber - 1}, sorting=${sorting}, order=${order})}"><</a>
        </li>

        <li th:if="${pageNumber} > 1" class="page-item"><a class="page-link" href="#" th:href="@{/posts/my/(page=${pageNumber -2}, sorting=${sorting}, order=${order})}" th:text="${pageNumber - 1}">-2</a></li>
        <li th:if="${pageNumber} > 0" class="page-item"><a class="page-link" href="#" th:href="@{/posts/my/(page=${pageNumber -1}, sorting=${sorting}, order=${order})}" th:text="${pageNumber}">-1</a></li>

        <li class="page-item"><a class="page-link disabled" th:text="${pageNumber + 1}">1</a></li>

        <li th:if="${pageNumber} < ${lastPageNumber - 1}" class="page-item"><a class="page-link" href="#" th:href="@{/posts/my/(page=${pageNumber + 1}, sorting=${sorting}, order=${order})}" th:text="${pageNumber + 2}">+1</a></li>
        <li th:if="${pageNumber} < ${lastPageNumber - 2}" class="page-item"><a class="page-link" href="#" th:href="@{/posts/my/(page=${pageNumber + 2}, sorting=${sorting}, order=${order})}" th:text="${pageNumber + 3}">+2</a></li>

        <li th:class="${(pageNumber == lastPageNumber - 1) || lastPageNumber == 0} ? 'disabled page-item' : 'page-item'">
            <a class="page-link" href="#" th:href="@{/posts/my/(page=${pageNumber + 1}, sorting=${sorting}, order=${order})}">></a>
        </li>
        <li th:class="${(pageNumber == lastPageNumber - 1) || lastPageNumber == 0} ? 'disabled page-item' : 'page-item'">
            <a class="page-link" href="#" th:href="@{/posts/my/(page=${lastPageNumber - 1}, sorting=${sorting}, order=${order})}">>></a>
        </li>
    </ul>
</nav>

</body>
</html>